server/.env
server/*.rsuser
server/*.suo
server/*.user
server/*.userosscache
server/*.sln.docstates
server/*.userprefs
server/mono_crash.*
server/[Dd]ebug/
server/[Dd]ebugPublic/
server/[Rr]elease/
server/[Rr]eleases/
server/x64/
server/x86/
server/[Ww][Ii][Nn]32/
server/[Aa][Rr][Mm]/
server/[Aa][Rr][Mm]64/
server/bld/
server/[Bb]in/
server/[Oo]bj/
server/[Ll]og/
server/[Ll]ogs/
server/.vs/
server/Generated\ Files/
server/[Tt]est[Rr]esult*/
server/[Bb]uild[Ll]og.*
server/*.VisualState.xml
server/TestResult.xml
server/nunit-*.xml
server/[Dd]ebugPS/
server/[Rr]eleasePS/
server/dlldata.c
server/BenchmarkDotNet.Artifacts/
server/project.lock.json
server/project.fragment.lock.json
server/artifacts/
server/.tye/
server/ScaffoldingReadMe.txt
server/StyleCopReport.xml
server/*_i.c
server/*_p.c
server/*_h.h
server/*.ilk
server/*.meta
server/*.obj
server/*.iobj
server/*.pch
server/*.pdb
server/*.ipdb
server/*.pgc
server/*.pgd
server/*.rsp
server/*.sbr
server/*.tlb
server/*.tli
server/*.tlh
server/*.tmp
server/*.tmp_proj
server/*_wpftmp.csproj
server/*.log
server/*.tlog
server/*.vspscc
server/*.vssscc
server/.builds
server/*.pidb
server/*.svclog
server/*.scc
server/_Chutzpah*
server/ipch/
server/*.aps
server/*.ncb
server/*.opendb
server/*.opensdf
server/*.sdf
server/*.cachefile
server/*.VC.db
server/*.VC.VC.opendb
server/*.psess
server/*.vsp
server/*.vspx
server/*.sap
server/*.e2e
server/$tf/
server/*.gpState
server/_ReSharper*/
server/*.[Rr]e[Ss]harper
server/*.DotSettings.user
server/_TeamCity*
server/*.dotCover
server/.axoCover/*
server/!.axoCover/settings.json
server/coverage*.json
server/coverage*.xml
server/coverage*.info
server/*.coverage
server/*.coveragexml
server/_NCrunch_*
server/.*crunch*.local.xml
server/nCrunchTemp_*
server/*.mm.*
server/AutoTest.Net/
server/.sass-cache/
server/[Ee]xpress/
server/DocProject/buildhelp/
server/DocProject/Help/*.HxT
server/DocProject/Help/*.HxC
server/DocProject/Help/*.hhc
server/DocProject/Help/*.hhk
server/DocProject/Help/*.hhp
server/DocProject/Help/Html2
server/DocProject/Help/html
server/publish/
server/*.[Pp]ublish.xml
server/*.azurePubxml
server/*.pubxml
server/*.publishproj
server/PublishScripts/
server/*.nupkg
server/*.snupkg
server/**/[Pp]ackages/*
server/!**/[Pp]ackages/build/
server/*.nuget.props
server/*.nuget.targets
server/csx/
server/*.build.csdef
server/ecf/
server/rcf/
server/AppPackages/
server/BundleArtifacts/
server/Package.StoreAssociation.xml
server/_pkginfo.txt
server/*.appx
server/*.appxbundle
server/*.appxupload
server/*.[Cc]ache
server/!?*.[Cc]ache/
server/ClientBin/
server/~$*
server/*~
server/*.dbmdl
server/*.dbproj.schemaview
server/*.jfm
server/*.pfx
server/*.publishsettings
server/orleans.codegen.cs
server/Generated_Code/
server/_UpgradeReport_Files/
server/Backup*/
server/UpgradeLog*.XML
server/UpgradeLog*.htm
server/ServiceFabricBackup/
server/*.rptproj.bak
server/*.mdf
server/*.ldf
server/*.ndf
server/*.rdl.data
server/*.bim.layout
server/*.bim_*.settings
server/*.rptproj.rsuser
server/*- [Bb]ackup.rdl
server/*- [Bb]ackup ([0-9]).rdl
server/*- [Bb]ackup ([0-9][0-9]).rdl
server/FakesAssemblies/
server/*.GhostDoc.xml
server/.ntvs_analysis.dat
server/node_modules/
server/*.plg
server/*.opt
server/*.vbw
server/*.vbp
server/*.dsw
server/*.dsp
server/*.ncb
server/*.aps
server/**/*.HTMLClient/GeneratedArtifacts
server/**/*.DesktopClient/GeneratedArtifacts
server/**/*.DesktopClient/ModelManifest.xml
server/**/*.Server/GeneratedArtifacts
server/**/*.Server/ModelManifest.xml
server/_Pvt_Extensions
server/.paket/paket.exe
server/paket-files/
server/.fake/
server/.cr/personal
server/__pycache__/
server/*.pyc
server/*.tss
server/*.jmconfig
server/*.btp.cs
server/*.btm.cs
server/*.odx.cs
server/*.xsd.cs
server/OpenCover/
server/ASALocalRun/
server/*.binlog
server/*.nvuser
server/.mfractor/
server/.localhistory/
server/.vshistory/
server/healthchecksdb
server/MigrationBackup/
server/.ionide/
server/FodyWeavers.xsd
server/.vscode/*
server/!.vscode/settings.json
server/!.vscode/tasks.json
server/!.vscode/launch.json
server/!.vscode/extensions.json
server/*.code-workspace
server/.history/
server/*.cab
server/*.msi
server/*.msix
server/*.msm
server/*.msp
server/*.sln.iml
server/.idea/
server/Makefile.in
server/*.userprefs
server/*.usertasks
server/config.make
server/config.status
server/aclocal.m4
server/install-sh
server/autom4te.cache/
server/*.tar.gz
server/tarballs/
server/test-results/
server/*.dmg
server/*.app
server/.DS_Store
server/.AppleDouble
server/.LSOverride
server/Icon
server/._*
server/.DocumentRevisions-V100
server/.fseventsd
server/.Spotlight-V100
server/.TemporaryItems
server/.Trashes
server/.VolumeIcon.icns
server/.com.apple.timemachine.donotpresent
server/.AppleDB
server/.AppleDesktop
server/Network Trash Folder
server/Temporary Items
server/.apdisk
server/Thumbs.db
server/ehthumbs.db
server/ehthumbs_vista.db
server/*.stackdump
server/[Dd]esktop.ini
server/$RECYCLE.BIN/
server/*.cab
server/*.msi
server/*.msix
server/*.msm
server/*.msp
server/*.lnk
server/*.swp
client/logs
client/*.log
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*
client/lerna-debug.log*
client/node_modules
client/dist
client/dist-ssr
client/*.local
client/.vscode/*
client/!.vscode/extensions.json
client/.idea
client/.DS_Store
client/*.suo
client/*.ntvs*
client/*.njsproj
client/*.sln
client/*.sw?
